<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962929563963-k3r113d64oofa1hdv02nisu9sad1mtr4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962929563963-k3r113d64oofa1hdv02nisu9sad1mtr4</string>
	<key>API_KEY</key>
	<string>AIzaSyDbOT7ew9lqMw5c48H7xeTkToN2mMUL2BY</string>
	<key>GCM_SENDER_ID</key>
	<string>962929563963</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Patrick.Fischer.Vinder</string>
	<key>PROJECT_ID</key>
	<string>vinder-cb83a</string>
	<key>STORAGE_BUCKET</key>
	<string>vinder-cb83a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962929563963:ios:f91baa8ce2e59c4f507f1e</string>
	<key>DATABASE_URL</key>
	<string>https://vinder-cb83a.firebaseio.com</string>
</dict>
</plist>